.logement-card {
  flex: 0 1 calc(33.33% - 20px); /* Ajuster la largeur des cartes */
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  @media (max-width: 768px) {
    flex: 0 1 calc(100% - 50px); /* Une carte par ligne avec espace de 25px de chaque côté */
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    h2 {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 10px;
      color: white;
      font-size: 18px;
      width: 50%;
      white-space: normal; /* Permettre le retour à la ligne */
      z-index: 2;
    }
  }
}
