  .carousel {
    margin-bottom: 30px;
    position: relative;

    .img-lgt {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 1440px;
      max-height: 415px;
      z-index: 1;
      object-fit: cover;
      border-radius: 15px;
    }

    .btn {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transform: translateY(-50%);

      button {
        background: none;
        border: none;
        cursor: pointer;

        img {
          z-index: 2;
        }
      }
    }

    .arrow-back {
      margin-left: 10px;
    }

    .arrow-forward {
      margin-right: 10px;
    }

    .counter {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 1em;
      z-index: 2;
      color: white;
    }
  }



  @media (max-width: 768px) {
    .carousel {
      margin-bottom: 10px !important;

      .img-lgt {
        width: 100%;
      }

      .arrow-back {
        height: 80px;
      }

      .arrow-forward {
        height: 80px;
      }

      .counter {
        display: none; /* Masquer le compteur sur les petits écrans */
      }
    }
  }

  @media (max-width: 426px) {
    .carousel {
      .arrow-back {
        height: 30px;
        margin-left: 0;
      }

      .arrow-forward {
        height: 30px;
        margin-right: 0;
      }
    }
  }