.fiche-logement {
  padding: 0px 50px 50px 50px;

  h1 {
    font-size: 2em;
    margin-top: 20px;
    color: rgb(255, 96, 96);
  }

  h1,
  h2 {
    margin: 0;
    padding: 0;
  }

  .title-owner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .owner-info {
      display: flex;
      align-items: center;

      .owner-name {
        margin-right: 10px;
        font-size: 1.2em;
        font-weight: bold;
        color: rgb(255, 96, 96);
      }

      .owner-picture {
        width: 4em;
        height: 4em;
        border-radius: 50%;
      }
    }

    .mobile {
      display: none;
    }
  }

  .tags-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .dropdowns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 25px;
  }

  .dropdown {
    flex: 1;
    margin-bottom: 20px;
  }

  .rating-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .rating {
    display: flex;
    align-items: center;

    .star {
      font-size: 24px;
      color: lightgray;
      cursor: pointer;
    }

    .star.filled {
      color: rgb(255, 96, 96);
    }
  }
}

@media (max-width: 426px) {
  .fiche-logement {
    padding: 0px 20px 20px 20px;

    .dropdowns,
    .rating-tags {
      display: block;
    }

    .title-owner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .desktop {
        display: none;
      }

      .mobile {

          display: flex;
          align-items: center;
    
          .owner-name {
            margin-right: 10px;
            font-size: 1.2em;
            font-weight: bold;
            color: rgb(255, 96, 96);
          }
    
          .owner-picture {
            width: 4em;
            height: 4em;
            border-radius: 50%;
          }
        
      }
    }
  }
}