.fiche-logement {
  padding: 0px 50px 15px 50px;
  max-width: 1440px;

  .carousel {
    margin-bottom: 20px;
  }

  h1 {
    // font-size: 1.25em;
    margin-top: 20px;
    color: rgb(255, 96, 96);
    width: 50%;
    font-weight: normal;
  }

  h1,
  h2 {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 0.85em;
    font-weight: normal;
  }

  .title-owner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .owner-info {
      display: flex;
      align-items: center;


      .owner-name {
        margin-right: 10px;
        font-size: 1.2em;
        font-weight: normal;
        color: rgb(255, 96, 96);
      }

      .owner-picture {
        width: 4em;
        height: 4em;
        border-radius: 50%;
      }
    }

    .mobile {
      display: none;
    }
  }

  .tags-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .dropdowns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .dropdown {
    flex: 1;
    margin-bottom: 20px;
  }

  .rating-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .rating {
    display: flex;
    align-items: center;

    .star {
      font-size: 24px;
      color: lightgray;
      cursor: pointer;

      .star-icon {
        width: 36px;
        height: 36px;
      }

      @media (max-width: 768px) {
        .star-icon {
          width: 18px;
          height: 18px;
        }
      }
    }

    .star.filled {
      color: rgb(255, 96, 96);
    }
  }
}

@media (max-width: 768px) {
  .fiche-logement {
    padding: 0px 20px 20px 20px;

    .dropdowns,
    .rating-tags {
      display: block;
    }

    .title-owner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0px;

      h1 {
        font-size: 1.25em;
        width: 100%;
      }

      .desktop {
        display: none;
      }

      .mobile {

        display: flex;
        align-items: center;

        .owner-name {
          margin-right: 15px;
          font-size: 0.8em;
          font-weight: normal;
          color: rgb(255, 96, 96);
          width: 50px;
        }

        .owner-picture {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

      }
    }
  }
}