.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;

  .header-logo {
    height: auto;
    max-width: 35%;
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
    font-size: 24px;

    .nav-item {

      a {
        text-decoration: none;
        color: #000;

      }

      &.active-link {
        text-decoration-line: underline;
      }

      &:hover {
        text-decoration-line: underline;
      }
    }
  }
  }

  @media (max-width: 768px) {
    .header {
      padding: 20px;
      .nav-list {
      font-size: 12px;
      text-transform: uppercase;
    }
    }
  }