.home {
  padding: 50px;
  display: flex;
  justify-content: center;

  .logements-box {
    background-color: rgb(246, 246, 246);
    padding: 50px;
  }

  .logements-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
  }

  .banner-box {
    background-image: url('/assets/Home.png');

    .banner-title {
      color: white;
      font-size: 2.5em;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (min-width:768.1px) and (max-width:1024px) {
  .home {

    .logements-list {
      grid-template-columns: repeat(2,1fr);
    }
  }
}

@media (max-width: 768px) {
  .home {
    padding: 20px;

    .logements-box {
      background-color: white;
      margin: 0;
      padding: 0;
    }

    .logements-list {
      flex-direction: column; 
      align-items: center;
      display: flex;
    }

    .banner-box {
      .banner-title {
        size: 24px;
        top: 0;
        left: 0;
        transform: none;
        padding: 20px;
        line-height: 30px;
      }
    }
  }
}

