.home {
  // font-family: 'Montserrat', sans-serif;
  padding: 0px 50px 50px 50px;
  display: flex;
  justify-content: center;

  .logements-box {
    background-color: rgb(246, 246, 246);
    padding: 50px;
    border-radius: 25px;

    .logements-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        /* Une seule colonne sur mobile */
        gap: 20px;
        /* Espacement de 25px entre les cartes */

        .logements-box {
          background-color: none;
        }
      }
    }
  }

  .banner-box {
    margin-bottom: 40px;
    background-image: url('/assets/Home.png');

    &::after {
      background: rgba(0, 0, 0, 0.6);
    }

    .banner-title {
      color: white;
      font-size: 48px;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      white-space: nowrap;

      @media (max-width: 768px) {
        font-size: 24px;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        white-space: normal;
        /* Permettre le retour à la ligne sur mobile */
      }
    }
  }
}

@media (min-width: 768.1px) and (max-width: 1024px) {
  .home {
    .logements-list {
      grid-template-columns: repeat(2, 1fr);
    }

    .banner-box .banner-title {
      font-size: 36px;
      white-space: nowrap;
    }
  }
}

@media (max-width: 768px) {
  .home {
    padding: 0px 20px 20px 20px;

    .logements-box {
      background-color: white;
      margin: 0;
      padding: 0;
    }

    .logements-list {
      flex-direction: column;
      align-items: center;
      display: flex;
    }

    .banner-box {
      .banner-title {
        font-size: 24px;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        white-space: normal;
      }
    }
  }
}