.notfound-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 139px;
    padding: 139px;
    color: rgb(255, 96, 96);

    .notfound-title {
        font-size: 288px;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 768.1px) {
    .notfound-msg {
        // display: flex;
        gap: 113px;
        padding: 113px 0;

        .notfound-title {
            height: 99px;
            font-size: 96px;
        }

        p {
            text-align: center; /* Centrer le texte pour une meilleure apparence */
            margin: 0;
          }
    }
}