.banner-box {
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden; }
  .banner-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1; }

@media (max-width: 768px) {
  .banner-box {
    height: 7em;
    margin-bottom: 20px; } }
