.footer {
  background-color: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 66px 0 10px 0; }
  .footer .footer-logo {
    width: 122px;
    height: 39.44px;
    margin-bottom: 10px; }
  .footer p {
    color: #ffffff; }

@media (max-width: 426px) {
  .footer {
    height: 200px;
    padding: 0; }
    .footer .footer-text {
      display: block; } }
