.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px; }

.header-logo {
  height: 50px;
  width: auto; }

.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px; }
  .nav-list .nav-item:hover {
    text-decoration-line: underline; }

.nav-item a {
  text-decoration: none;
  color: #000; }

@media (max-width: 426px) {
  .header {
    padding: 20px; }
    .header .nav-item {
      size: 24px;
      text-transform: uppercase; } }
