.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px; }
  .header .header-logo {
    height: auto;
    max-width: 35%; }
  .header .nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
    font-size: 24px; }
    .header .nav-list .nav-item a {
      text-decoration: none;
      color: #000; }
    .header .nav-list .nav-item:hover {
      text-decoration-line: underline; }

@media (max-width: 768px) {
  .header {
    padding: 20px; }
    .header .nav-list {
      font-size: 12px;
      text-transform: uppercase; } }
