@charset "UTF-8";
.home {
  padding: 50px;
  display: flex;
  justify-content: center; }
  .home .logements-box {
    background-color: #f6f6f6;
    padding: 30px; }
  .home .banner-title {
    color: white;
    font-size: 2.5em;
    margin: 0;
    position: absolute;
    /* Permet de positionner le titre par rapport à .banner */
    top: 50%;
    /* Centrer verticalement */
    left: 50%;
    /* Centrer horizontalement */
    transform: translate(-50%, -50%);
    /* Ajustement pour un centrage parfait */ }
