.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1em;
  display: inline-block;
  border-radius: 10px; }

@media (max-width: 768px) {
  .tag {
    font-size: 0.65em; } }

@media (max-width: 320px) {
  .tag {
    font-size: 0.5em; } }
